<footer>
  <div class="container">
    <div class="d-flex justify-content-between align-items-center flex-column flex-lg-row">
      <a class="navbar-brand h5 d-flex align-items-center text-uppercase font-weight-bold text-secondary mb-lg-0 mb-3"
        href="javascript:void(0)" title="Analytics">
        <i class="navbar-brand-logo mr-2"><img src="./assets/images/brand-bg-gray.svg" alt="Analytics Logo" width="30"
            height="30"></i>
        Analytics
      </a>
      <ul class="list d-flex align-items-center justify-content-center mb-4 mb-lg-0">
        <li class="list-item">
          <a class="list-link h6 text-secondary" href="javascript:void(0);">Products</a>
        </li>
        <li class="list-item">
          <a class="list-link h6 text-secondary" href="javascript:void(0);">Pricing</a>
        </li>
        <li class="list-item">
          <a class="list-link h6 text-secondary" href="javascript:void(0);">FAQ</a>
        </li>
        <li class="list-item">
          <a class="list-link h6 text-secondary" href="javascript:void(0);">Blog</a>
        </li>
      </ul>
      <ul class="list social-links d-flex align-items-center justify-content-center">
        <li class="list-item">
          <a class="list-link text-secondary" href="javascript:void(0);">
            <img src="./assets/images/Facebook.png" alt="Facebook Icon" class="img-fluid">
          </a>
        </li>
        <li class="list-item">
          <a class="list-link text-secondary" href="javascript:void(0);">
            <img src="./assets/images/Twitter.png" alt="Twitter Icon" class="img-fluid">
          </a>
        </li>
        <li class="list-item">
          <a class="list-link text-secondary" href="javascript:void(0);">
            <img src="./assets/images/Instagram.png" alt="Instagram Icon" class="img-fluid">
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>