<div class="header">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark px-0">
      <a class="navbar-brand h4 d-flex align-items-center text-uppercase font-weight-bold text-white mr-auto px-0"
        href="javascript:void(0)" title="Analytics">
        <i class="navbar-brand-logo mr-2"><img src="./assets/images/brand.svg" alt="Analytics Logo"></i>
        Analytics
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav mb-lg-0 mb-4 pb-lg-0 py-3">
          <li class="nav-item">
            <a class="nav-link text-secondary" href="javascript:void(0);">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="javascript:void(0);">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="javascript:void(0);">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="javascript:void(0);">Blog</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link text-secondary" href="javascript:void(0);">Blog</a>
          </li> -->
        </ul>
        <div class="navbar-btngroup text-lg-left text-center pt-lg-0 pt-lg-2">
          <a href="javscript:void(0);" class="btn border-transparent text-secondary mr-2 mb-lg-0 mb-3">Sign in </a>
          <a href="javscript:void(0);" class="btn btn-border text-secondary mb-lg-0 mb-3">Sign up</a>
        </div>
      </div>
    </nav>
  </div>
</div>