<div class="pricing">
  <div class="container">
    <div class="pricing-plan mb-lg-100 mb-5">
      <div class="pricing-plan-header text-center mb-80">
        <h2 class="h2 roboto font-weight-bold text-capitalize text-white mb-4">Pricing Plans</h2>
        <p class="h4 roboto text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum nisi
          aliquet
          volutpat pellentesque volutpat est. </p>
      </div>
      <div class="row">
        <div class="col-10 col-lg-4 mb-5 mb-lg-0 mx-auto">
          <div class="price-card bg-dark-blue text-center br-30 py-5">
            <h3 class="plan-type h3 lh-35 roboto font-weight-bold text-white mb-3">Starter</h3>
            <p class="users h4 lh-27 roboto font-weight-light text-secondary">up to 3 users</p>
            <div class="hr-line bg-blue w-50 mx-auto my-4"></div>
            <p class="h3 text-white d-flex align-items-baseline justify-content-center">
              <span class="h3 font-weight-bold mr-1">$</span><span class="fs-60 font-weight-bold">29</span>
            </p>
            <p class="h4 lh-27 roboto font-weight-light text-secondary">per month</p>
            <div class="mt-50">
              <a href="javascript:void(0);" class="btn btn-px btn-border text-white">Order</a>
            </div>
          </div>
        </div>
        <div class="col-10 col-lg-4 mb-5 mb-lg-0 mx-auto">
          <div class="price-card bg-white text-center br-30 py-5">
            <h3 class="plan-type h3 lh-35 roboto font-weight-bold text-primary mb-3">Standard</h3>
            <p class="users h4 lh-27 roboto font-weight-light text-secondary">up to 20 users</p>
            <div class="hr-line bg-blue w-50 mx-auto my-4"></div>
            <p class="h3 text-white d-flex align-items-baseline justify-content-center text-primary">
              <span class="h3 font-weight-bold mr-1">$</span><span class="fs-60 font-weight-bold">99</span>
            </p>
            <p class="h4 lh-27 roboto font-weight-light text-secondary">per month</p>
            <div class="mt-50">
              <a href="javascript:void(0);" class="btn btn-px btn-primary text-white">Order</a>
            </div>
          </div>
        </div>
        <div class="col-10 col-lg-4 mx-auto">
          <div class="price-card bg-dark-blue text-center br-30 py-5">
            <h3 class="plan-type h3 lh-35 roboto font-weight-bold text-white mb-3">Premium</h3>
            <p class="users h4 lh-27 roboto font-weight-light text-secondary">up to 200 users</p>
            <div class="hr-line bg-blue w-50 mx-auto my-4"></div>
            <p class="h3 text-white d-flex align-items-baseline justify-content-center">
              <span class="h3 font-weight-bold mr-1">$</span><span class="fs-60 font-weight-bold">299</span>
            </p>
            <p class="h4 lh-27 roboto font-weight-light text-secondary">per month</p>
            <div class="mt-50">
              <a href="javascript:void(0);" class="btn btn-px btn-border text-white">Order</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hr-line bg-blue w-100 mx-auto mt-4 mb-lg-80 mb-4"></div>
    <app-footer></app-footer>
  </div>
</div>