<div class="banner position-relative">
  <div class="container">
    <div class="banner-left-main">
      <h1 class="h1 font-weight-bold text-white lh-60 mb-3">Monitor your business on real-time dashboard</h1>
      <p class="h4 text-secondary lh-27">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum nisi aliquet
        volutpat pellentesque volutpat est. Sapien in etiam vitae nibh nunc mattis imperdiet sed nullam. </p>
      <div class="d-block mt-50">
        <a href="javscript:void(0);" class="btn btn-primary">Try for free</a>
      </div>
    </div>
    <div class="banner-right-main d-none d-lg-block">
      <img src="./assets/images/main-screen.svg" alt="banner-image" class="img-fluid banner-image">
    </div>
  </div>
</div>